<h1>Rock Paper Scissors</h1>
<form action="/playerone" method="post">
  <label for="player1Name">Name of Player 1:</label>
  <input type="text" name="player1Name">
  <label for="player2Name">Name of Player 2:</label>
  <input type="text" name="player2Name">
  <button type="submit" name="button">Submit</button>
</form>
