<h1>@Model.GetPlayerName()</h1>
<form action="/result" method="post">
  <label for="player2Play"></label>
  <input type="radio" name="player2Play" value="Rock">Rock<br>
  <input type="radio" name="player2Play" value="Paper">Paper<br>
  <input type="radio" name="player2Play" value="Scissors">Scissors<br>
  <button type="submit" name="button">Submit</button>
</form>
